<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <br>
        <br>
        <h1>Jewish House Privacy Policy</h1>
        <h2>1) Purpose and nature</h2>
        <p>Jewish House (ACN 140 232 873) and its subsidiaries (Jewish House) recognise the importance of your privacy.  This Privacy Policy explains how Jewish House intends to collect, store, use, disclose, protect and otherwise handle your personal information having regard to the Australian Privacy Principles (APPs) contained in the Privacy Act 1988 (Cth) (Privacy Act).</p>
        <p>This Privacy Policy does not constitute a contractual representation, promise, guarantee or warranty by Jewish House to you as to the manner in which Jewish House will or may collect, store, use, disclose, protect or otherwise handle your personal information.  Some matters are beyond the control of Jewish House, such as third party malicious or criminal attacks.</p>
        <p>Jewish House may allow its related entities, such as its subsidiaries, and their employees and volunteers to use and process your personal information in the same way and to the same extent that Jewish House is permitted to under this Privacy Policy.  These related entities comply with the same obligations that Jewish House has to protect your personal information under this Privacy Policy.</p>
        
        <h2>2) What is personal information?</h2>
        <p>Personal information is information or an opinion about you from which you can be reasonably identified.</p>

        <h2>3) Why does Jewish House collect personal information?</h2>
        <p>Jewish House collects personal information for the primary purpose of providing crisis intervention and prevention services. Jewish House may also use your personal information for secondary purposes closely related to this primary purpose. This may include compiling a de-identified database for the purpose of producing statistics about homelessness rates, conducting and informing research into homelessness and for the purpose of connecting homeless persons with support and intervention services.</p>
        <p>Jewish House may allow its related entities, such as its subsidiaries, and their employees and volunteers to use and process your personal information in the same way and to the same extent that Jewish House is permitted to under this Privacy Policy.  These related entities comply with the same obligations that Jewish House has to protect your personal information under this Privacy Policy.</p>

        <h2>4) What personal information does Jewish House collect?</h2>
        <p>The types of personal information collected by Jewish House include:</p>
        <p>(a) names;</p>
        <p>(b) contact details (including address, email address, telephone number(s) and other contact details);</p>
        <p>(c) dates of birth;</p>
        <p>(d) banking details;</p>
        <p>(e) credit card details; and</p>
        <p>(f) other information you provide to us.</p>

        <p>4.1 <u>Sensitive Information</u></p>

        <p>The personal information collected by Jewish House may include sensitive information, which is defined in the Privacy Act as information or an opinion about such things as an individual’s racial or ethnic origin, political opinions, membership of a political association, religious or philosophical beliefs, membership of a trade union or other professional body, criminal record or health information.  Jewish House will only use sensitive information:</p>
        <p>(a) for the primary purpose for which it was obtained;</p>
        <p>(b) for a secondary purpose that is directly related to the primary purpose;</p>
        <p>(c) with your consent; or</p>
        <p>(d) where required or authorised by law.</p>


        <h2>5) How does Jewish House collect your personal information?</h2>
        <p>Jewish House will collect personal information only by lawful and fair means and not in an unreasonably intrusive manner.  When you provide Jewish House with personal information you consent to the use, disclosure and handling of your personal information in accordance with this Privacy Policy and any subsequent amendments (see clause 13).</p>
        <p>5.1 <u>Collecting information from you</u></p>
        <p>If it is reasonable and practical to do so, Jewish House will collect personal information directly from you.</p>
        <p>Depending on how you choose to interact with Jewish House, Jewish House may collect your personal information when you contact, or are contacted by, Jewish House or its service providers by telephone, by email, through Jewish House’s website, apps  or when you complete a form or document and provide it to Jewish House.</p>
        <p>5.2 <u>Collecting information from third parties</u></p>
        <p>Jewish House may also collect information about you from other people (eg a third party administrator) or independent sources. However, Jewish House will only do so where it is not reasonable and practicable to collect the information from you directly.  Where Jewish House has collected your information from a third party, such personal information will be held, used and disclosed by Jewish House in accordance with this Privacy Policy.</p>
        <p>5.3 <u>Collecting information from visits to Jewish House’s website</u></p>
        <p>Jewish House may also collect information based on how you use its website, including through ‘cookies’, web beacons, IP addresses and International Mobile Equipment Identity (IMEI) information and other similar technologies. </p>
        <p>Cookies are small text files that are transferred to your computer’s hard drive through your web browser to enable Jewish House’s systems to recognise your browser and record non-personal information such as the date, time or duration of your visit and the pages accessed, for website administration, statistical and maintenance purposes (Cookie Information).</p>
        <p>We use cookies to provide you with a more consistent experience across our services.  No attempt is made by Jewish House to use Cookie Information, IP addresses or IMEI information to personally identify you.  However, if Cookie Information, IP addresses or IMEI information is linked with personal information as set out above, this becomes personal information and will be treated in the same manner as the personal information to which it has been linked.</p>
        <p>You can remove or reject cookies by adjusting the settings on your web browser.  Please note that some parts of Jewish House’s website may not function fully for users that disable cookies.</p>
        <p>5.4 <u>Collecting information from minors</u></p>
        <p>Jewish House may collect personal information and donations in the manner described in this Privacy Policy. However, if you are a minor (under 18 years of age) and want to subscribe to Jewish House’s services you must ask your parent or guardian for permission to provide personal information to Jewish House, which is necessary to provide you with access to Jewish House’s services. If you proceed to provide Jewish House with personal information, Jewish House will assume that your parent or guardian has permitted you to use its website, apps or services.</p>
        <p>5.5 <u>Unsolicited information</u></p>
        <p>If Jewish House receives personal information that it has not requested and determines that the personal information received is not reasonably necessary to provide its services, Jewish House will take all lawful and reasonable steps (if any) to de-identify or destroy that personal information.</p>

        
        <h2>6) How does Jewish House hold your personal information?</h2>
        <p>The security of your personal information is important to Jewish House.  Accordingly, Jewish House takes reasonable steps to protect your personal information from misuse, loss and unauthorised access, modification or disclosure.  These steps include the implementation of the following safeguards:</p>
        <p>(a) use of a cloud storage platform that utilises best practices to securely store personal information collected by Jewish House, including authentication, access controls, data transport encryption, firewalls and isolated storage systems; and</p>
        <p>(b) staff training to comply with internal procedures implemented to protect your personal information.</p>
        <p>6.1 <u>Security breach procedures</u></p>
        <p>Jewish House’s data security practices have been adopted with a view to protecting the data held by Jewish House.  Notwithstanding this, individuals should be aware that there are inherent risks associated with the transmission of data over the internet and other mediums.  Accordingly, Jewish House cannot guarantee any transmission will be completely secure. </p>

        <h2>7) How does Jewish House use your personal information?</h2>
        <p>Jewish House may hold, use or disclose your personal information so that it can connect homeless persons with support and intervention services, compile de-identified data and conduct research in relation to homelessness to better provide Jewish House’s services. </p>
        <p>(a) consider any concern or complaint that you raise against Jewish House or to manage any legal action between you and Jewish House;</p>
        <p>(b) prevent or investigate any actual or suspected fraud, unlawful activity or misconduct;</p>
        <p>(c) comply with any relevant laws, regulations, codes of practice and court orders.</p>

        <h2>8) How is personal information disclosed to others?</h2>
        <p>Jewish House does not sell, rent or trade personal information to, or with third parties.</p>
        <p>8.1 <u>External support services</u></p>
        <p>Jewish House may disclose your personal information to third parties in order to provide its services, including to external providers of homelessness support and relief, emergency services and crisis intervention services. </p>
        <p>8.2 <u>External fundraising support</u></p>
        <p>When making a donation to Jewish House, you will be redirected to the website of our fundraising partner Charity Web in order to facilitate payment. Jewish House has no control over this entity or their website and accordingly makes no warranties or representations about your use of this website or the manner in which Charity Web collects, stores or used personal information.</p>
        <p>Jewish House will not, without your prior permission or unless compelled to by law, disclose, use, sell or distribute your personal information other than to process your donation. Jewish House may use de-identified person information, of a generic nature, for the purposes of compiling reports and statistics for its fundraising reports.</p>
        <p>Jewish House’s website may contain certain links to other websites.  Jewish House does not share your personal information with those websites and it is not responsible for the privacy practices applying in respect of those websites.</p>
        <p>8.3 <u>Cross-border disclosure</u></p>
        <p>Jewish House may transfer your personal information to an entity which is in a foreign country to assist Jewish House in providing its services. This includes the secure cloud storage platform utilised by Jewish House, which may store data held for Jewish House on servers located in foreign countries. Such foreign countries may include the United States.</p>

        <h2>9) Change of control</h2>
        <p>If Jewish House sells, assigns or otherwise transfers part or the whole of its business, your personal information, which was collected by Jewish House through your use of the service, may be among the items transferred or sold to the extent that it is relevant to Jewish House’s business. </p>
        
        
        <h2>10) How you may access or correct your personal information</h2>
        <p>You may contact Jewish House to request access to the personal information it holds about you at any time.  You may also ask Jewish House to correct information about you that you may believe is inaccurate, incomplete or out of date.</p>
        <p>Please contact Jewish House using the contact details set out in clause 12.  Jewish House will need to verify your identity before giving you access to, or correcting, your personal information.  Jewish House will respond to the request within a reasonable period after the request is made.  There is no charge to make a request, however Jewish House may charge a reasonable fee to cover the administrative costs of retrieving your personal information.</p>
        <p>In certain circumstances, Jewish House may refuse, or be unable, to correct or provide you with access to your personal information. In these circumstances, Jewish House will write to you to explain the reasons why this is the case.</p>
        
        <h2>11) How you may complain if you have concerns about how Jewish House has managed your personal information</h2>
        <p>If you have a complaint related to how Jewish House has managed your personal information, please contact Jewish House using the contact details set out in clause 12.  Jewish House may ask you to place your concerns in writing so that its compliance staff can fully understand and investigate your complaint.</p>
        <p>Jewish House will provide you with an estimated response timeframe in relation to your complaint.  In any event, Jewish House will endeavour to respond to your complaint within 30 days.</p>
        <p>If a complaint remains unresolved, you may contact the Office of the Australian Information Commissioner (OAIC) at <a href="www.oaic.gov.au">www.oaic.gov.au</a> to have the complaint heard and determined.</p>
        
        <h2>12 How to contact us</h2>
        <p>If you have any questions about this Privacy Policy or Jewish House’s management of your personal information, please contact Jewish House on:</p>
        <table>
          <tr>
            <td><strong>Attention:</strong></td>
            <td>Hazel Mill</td>
          </tr>
          <tr>
            <td><strong>Tel:</strong></td>
            <td>02 9386 0770</td>
          </tr>
          <tr>
            <td><strong>Email:</strong></td>
            <td>hazel@jewishhouse.org.au</td>
          </tr>
          <tr>
            <td><strong>Mail:</strong></td>
            <td>17 Flood Street, Bondi, NSW 2026</td>
          </tr>
        </table>

        <h2>13) Changes to Jewish House’s privacy policy and information handling practices</h2>
        <p>This Privacy Policy is subject to change at any time so we encourage you to review this Privacy Policy at regular intervals.  If Jewish House changes this Privacy Policy an updated version will be posted on Jewish House’s website to notify you of this change.  By continuing to use Jewish House’s services after that time you will be deemed to have accepted any changes to its Privacy Policy.</p>


      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="footer">
  <div class="content">
    <div class="row">
      <div class="col-3 my-2">
        <div class="text-center">
          <a class="back" routerLink="/" routerDirection="root"><ion-icon slot="start" name="md-arrow-back"></ion-icon></a>
        </div>
      </div>
    </div>
  </div>
</ion-footer>
