<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <br>
        <br>
        <h1>Terms and Conditions</h1>
        <h2>1) Scope</h2>
        <p>These Terms and Conditions shall apply to all usage by you of the Mend Homelessness Project website (referred to in these Terms and Conditions as the “Site”). By using this Site you agree to abide by these Terms and Conditions.</p>

        <h2>2) Ownership</h2>
        <p>This website is owned and operated by the Mend Homelessness Project.</p>

        <h2>3) Third Party Materials</h2>
        <p>Mend Homelessness Project may make use of third party Interface codes, data, information, pictures, functionality, and other content (“Third Party Materials”). The use of Third Party Materials included in the Mend Homelessness Project Site may be subject to other terms and conditions. You hereby agree that the use by you of any Third Party Materials implies that you have read and accepted the terms and conditions for any Third Party Materials included in the Mend Homelessness Project ordered.</p>

        <h2>4) Other Restrictions</h2>
        <p>Public presentation, performance or broadcasting or any other kind of distribution of material on the Site is prohibited. Other than as permitted by applicable legislation, you will not, and will not allow any person to, modify the Mend Homelessness Project Site or any part thereof, to analyse it by means of reverse engineering, to decompile or disassemble the Site, or to allow or enable third parties to do so.</p>

        <h2>5) Limitation of Liability</h2>
        <p>a) Whilst due care has been taken in the preparation of the contents of the Site, Mend Homelessness Project makes no representations regarding the accuracy or reliability of the information provided unless otherwise indicated, and notes there may be errors, omissions and typographical errors contained in the material provided.</p>
        <p>b) To the maximum extent permitted by applicable law, neither Mend Homelessness Project nor its suppliers and subcontractors shall be liable to you or to any third party for any damages either direct, indirect, incidental, consequential or otherwise arising out of the use of or inability to use the Site, even if Mend Homelessness Project has been advised of the possibility of such damages.</p>
        <p>c) Not withstanding any damages that you or any third party might incur for any reason whatsoever (including, without limitation, all damages referenced herein and all direct or general damages in contract or anything else), to the extent permitted by law, the entire liability of Mend Homelessness Project and any of its suppliers arising from or related to the use of the Site shall be limited to the amount actually paid by you on the Site.</p>
        <p>d) Mend Homelessness Project shall not be liable for (i) any fraud on the part of its employees and/or agents; or (ii) any fraudulent misrepresentation on the part of its employees and/or agents.</p>
        <p>e) Mend Homelessness Project shall not be liable for any direct or indirect damage incurred by you or your employees, as a result of any failure to the Site or Mend Homelessness Project’s server, including downtime and maintenance (which will preferably be scheduled on weekends and night times).</p>
        <p>f) The above limitation of liability does not affect any legal rights under the applicable national legislation.</p>

        <h2>6) Privacy</h2>
        <p>Mend Homelessness Project will collect only general information about you, like your IP or IMEI addresses, and will not disclose information regarding your personal details to any third party other than in accordance with its Privacy Policy as indicated on the Site. You hereby agree that you have read and accepted the Privacy Policy.</p>

        <h2>7) Links to Third Party Websites</h2>
        <p>Mend Homelessness Project is not responsible for the content of any third-party websites or services, any links contained in third-party websites or services, or any changes or updates to third-party websites or services. Where Mend Homelessness Project provides links and/or access to third-party websites and/or services it is only as a convenience to you, and the inclusion of any link or access does not imply an endorsement by Mend Homelessness Project of the third party site or service. If you chose to click any third-party link and leave the Site, please be advised that any information collected by such third-party website is subject to the third-party’s privacy policy and Mend Homelessness Project isn’t responsible by any way to such information and the way it is used.</p>

        <h2>8) Survival</h2>
        <p>Any provisions in these Terms and Conditions which by their nature extend beyond the termination or expiration of the License of the Site will remain in effect.</p>

        <h2>9) Severability</h2>
        <p>If any provision of these Terms and Conditions is deemed to be void, invalid, unenforceable or illegal, the other provisions shall continue in full force and effect. You and Mend Homelessness Project are deemed to have agreed to new terms and conditions in substitution for such invalid provisions. These new terms and conditions shall be interpreted, as regards their contents and effect, as closely as possible to the original text as written but in such a way that rights can indeed be derived from them.</p>

        <h2>10) Governing Law</h2>
        <p>These Terms and Conditions and any disputes related to these Terms and Conditions or to the purchase and use of the Site or otherwise are subject to laws of New South Wales, Australia. The Site is controlled and operated by Mend Homelessness Project from Australia</p>
        <p> The Site is controlled and operated by Mend Homelessness Project from Australia. Mend Homelessness Project does not represent or warrant that the Site, or any part thereof, is appropriate or available for use in any particular jurisdiction. Those who choose to access the Site do so on their own initiative and at their own risk, and are responsible for complying with all local laws, rules and regulations. We may limit the Site’s availability, in whole or in part, to any person, geographic area or jurisdiction we choose, at any time and in our sole discretion.</p>
        <p> All disputes arising out of these Terms and Conditions shall be settled by the courts of New South Wales, Australia, which will have exclusive jurisdiction in respect of any such disputes.</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="footer">
  <div class="content">
    <div class="row">
      <div class="col-3 my-2">
        <div class="text-center">
          <a class="back" routerLink="/" routerDirection="root"><ion-icon slot="start" name="md-arrow-back"></ion-icon></a>
        </div>
      </div>
    </div>
  </div>
</ion-footer>
