.container {
  .page-logo {
    background-image: url('../../../assets/images/people.svg');
  }
  
  .description-items {
    padding: 0px 25px;
    .description-item {
      border: 1px solid #f9b01e;
      background-color: #ffffff;
      color: #f9b01e;
      border-radius: 5px;
      text-transform: capitalize;
      padding: 10px 0;      
      width: 100%;
      &.checked {
        background-color: #f9b01e;
        color: #ffffff;
      }
      &:focus {
        outline:0;
      }
    }
  }
  .label-description {
    font-size: 14px;
  }
  .frequency-wrapper {
    padding: 0px 25px;
  }
  .label-frequency {
    font-size: 14px;
  }
  ion-segment {
    ion-segment-button {
      border: 1px solid #f9b01e;
      color: #f9b01e;
      margin: 2px;
      border-radius: 4px;
      text-transform: capitalize;
      &.segment-button-checked {
        background-color: #f9b01e;
        color: #ffffff;
      }
    }

    segment-button:not(:first-of-type) {
      border-left-width: 0;
    }
  }

}

.footer{
  font-size: 20px;
  font-weight: 500;
  .content {
    width: 100%;
    a ion-icon{
      margin-top: 6px;
    }
    .step {
      font-size: 20px;
      margin: 0 10px;
      &.done {
        color: #f9b01e;
        font-weight: bold;
      }
    }
    .back {
      color: #f9b01e;
    }
    .next {
      color: #f9b01e;
      &:hover {
        text-decoration: none;
      }
    }
    .disabled {
      pointer-events: none;
      color: #808080;
      cursor: not-allowed; 
    }
  }
}